<!-- stepper -->
<div class="container padding-bottom-3x mb-1">
    <div class="card-body px-md-5">
        <div class="steps d-flex flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x">
            <div class="step completed">
                <div class="step-icon-wrap">
                    <div class="step-icon"><i class="iconify" data-icon="bx:bx-target-lock"></i></div>
                </div>
                <h4 class="step-title">Define</h4>
            </div>
            <div class="step">
                <div class="step-icon-wrap">
                    <div class="step-icon"><i class="iconify" data-icon="ant-design:plus-square-outlined"></i></div>
                </div>
                <h4 class="step-title">Assets</h4>
            </div>
            <div class="step">
                <div class="step-icon-wrap">
                    <div class="step-icon"><i class="iconify" data-icon="clarity:number-list-line"></i></div>
                </div>
                <h4 class="step-title">Excel upload</h4>
            </div>
            <div class="step">
                <div class="step-icon-wrap">
                    <div class="step-icon"><span class="iconify" data-icon="healthicons:i"></span></div>
                </div>
                <h4 class="step-title">Analytics</h4>
            </div>
        </div>
    </div>
</div>
<!-- stepper end -->
<div class="container-fluid plan">
    <div class="col-12">
        <h3 class="title">Commission plan</h3>
    </div>
    <div class="row pt-3">
        <div class="col-md-3 col-lg-3 col-xl-2 workspace">
            <div class="card">
                <img src="../../../../assets/images/plan.png" class="card-img-top" alt="...">
                <div class="edit-icon"><span class="iconify" data-icon="eva:edit-2-fill"></span></div>
            </div>
        </div>
        <div class="col-md-9 col-lg-9 col-xl-10 plan-form">
            <div class="row">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <label>Project name<span class="text-danger">*</span></label>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Sale Team">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <label>Name<span class="text-danger">*</span></label>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Manager Commission Plan">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <label>Start Date<span class="text-danger">*</span></label>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <span class="input-group-text input-left"><i class="iconify"
                                        data-icon="bx:bx-calendar"></i></span>
                                <input type="text" class="form-control bl-0" placeholder="27/07/2021">
                                <span class="input-group-text input-right"><i class="iconify" data-icon="ci:clock"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <label>End Date</label>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <span class="input-group-text input-left"><i class="iconify"
                                        data-icon="bx:bx-calendar"></i></span>
                                <input type="text" class="form-control bl-0" placeholder="27/07/2021">
                                <span class="input-group-text input-right"><i class="iconify" data-icon="ci:clock"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <label>Industry type<span class="text-danger">*</span></label>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Industry type">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <label>Category<span class="text-danger">*</span></label>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Select Category">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <label>Keywords<span class="text-danger">*</span></label>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Type Keywords">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <label>Description<span class="text-danger">*</span></label>
                        <div class="form-group">
                            <textarea name="" class="form-control" placeholder="Type here..." id=""></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="col-12 text-end plan-footer">
        <img src="../../../../assets/images/delete.svg" alt="">
        <img src="../../../../assets/images/edit.svg" alt="">
        <a routerLink="user"><img src="../../../../assets/images/tick.svg" alt=""></a>
    </div>
    <!-- footer end -->
</div>