<div class="container-fluid px-4 workflow">
    <div class="manage-workflow">
        <div class="row">
            <div class="col-md-6">
                <h1>Manage all your commission plans at one place.</h1>
                <ul>
                    <li><span class="iconify" data-icon="ic:baseline-verified-user" style="color: #fe6a6b"></span> Save
                        time</li>
                    <li><span class="iconify" data-icon="ic:baseline-verified-user" style="color: #fe6a6b"></span> Use
                        our powerful rule engines</li>
                    <li><span class="iconify" data-icon="ic:baseline-verified-user" style="color: #fe6a6b"></span> Avoid
                        mistakes</li>
                </ul>
                <button class="btn btn-secondary">Get Started</button>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
                <img src="../../../assets/images/manage_workspace.png" alt="">
            </div>
        </div>
    </div>
    <div class="types-workflow">
        <div class="row">
            <div class="col-12 text-center">
                <h3>How can Carrotrule help your company?</h3>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-3 mt-3 mt-lg-0">
                <div class="as_infobox">
                    <span class="as_infoicon">
                        <i class="iconify top-icon" data-icon="clarity:users-line"></i>
                    </span>
                </div>
                <h4>Workplace</h4>
                <p>Create your own teams and add users.</p>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-3 mt-3 mt-lg-0">
                <div class="as_infobox">
                    <span class="as_infoicon">
                        <i class="iconify top-icon" data-icon="bx:bx-target-lock"></i>
                    </span>
                </div>
                <h4>Assign work & target</h4>
                <p>Assign work & assign targets to your users and teams.</p>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-3 mt-3 mt-lg-0">
                <div class="as_infobox">
                    <span class="as_infoicon">
                        <i class="iconify top-icon" data-icon="cil:money"></i>
                    </span>
                </div>
                <h4>Quota Mangement</h4>
                <p>Assign roles to individual and add quotas to your teams and users.</p>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-3 mt-3 mt-lg-0">
                <div class="as_infobox">
                    <span class="as_infoicon">
                        <i class="iconify top-icon" data-icon="bx:bx-data"></i>
                    </span>
                </div>
                <h4>Diverse data source</h4>
                <p>Add fields to your data source manually, using excel or web service.</p>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-3 mt-3 mt-lg-0">
                <div class="as_infobox">
                    <span class="as_infoicon">
                        <i class="iconify top-icon" data-icon="ion:calculator-outline"></i>
                    </span>
                </div>
                <h4>Computation</h4>
                <p>Avoid time consuming calculations by using our functions.</p>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-3 mt-3 mt-lg-0">
                <div class="as_infobox">
                    <span class="as_infoicon">
                        <i class="iconify top-icon" data-icon="mdi:cards-outline"></i>
                    </span>
                </div>
                <h4>Rule engines</h4>
                <p>Create multiple conditional rules to calculate various output values.</p>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-3 mt-3 mt-lg-0">
                <div class="as_infobox">
                    <span class="as_infoicon">
                        <i class="iconify top-icon" data-icon="typcn:flow-merge"></i>
                    </span>
                </div>
                <h4>Workflow</h4>
                <p>Arrange rule engines in different sequences to get favourable outcomes.</p>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-3 mt-3 mt-lg-0">
                <div class="as_infobox">
                    <span class="as_infoicon">
                        <i class="iconify top-icon" data-icon="grommet-icons:analytics"></i>
                    </span>
                </div>
                <h4>Analytics</h4>
                <p>Get a detailed study of the output obtained from workflow applied to
                    rule engines.</p>
            </div>
        </div>
    </div>


</div>