/* You can add global styles to this file, and also import other style files */
.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: none !important;
}
a, a:hover {
    text-decoration: none !important;
}