<!-- stepper -->
<div class="container padding-bottom-3x mb-1">
  <div class="card-body px-md-5">
    <div class="steps d-flex flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x">
      <div class="step completed">
        <div class="step-icon-wrap">
          <div class="step-icon"><i class="iconify" data-icon="bx:bx-target-lock"></i></div>
        </div>
        <h4 class="step-title">Define</h4>
      </div>
      <div class="step completed">
        <div class="step-icon-wrap">
          <div class="step-icon"><i class="iconify" data-icon="ant-design:plus-square-outlined"></i></div>
        </div>
        <h4 class="step-title">Assets</h4>
      </div>
      <div class="step">
        <div class="step-icon-wrap">
          <div class="step-icon"><i class="iconify" data-icon="clarity:number-list-line"></i></div>
        </div>
        <h4 class="step-title">Excel upload</h4>
      </div>
      <div class="step">
        <div class="step-icon-wrap">
          <div class="step-icon"><span class="iconify" data-icon="healthicons:i"></span></div>
        </div>
        <h4 class="step-title">Analytics</h4>
      </div>
    </div>
  </div>
</div>
<!-- stepper end -->
<div class="container-fluid assets">
  <div class="row bor-bottom">
    <div class="col-xl-8">
      <div class="row title">
        <div class="col">
          <h3 class="">Users</h3>
        </div>
        <!-- <div class="col">
          <button type="button" class="btn btn-default float-end" (click)="openModal(user)"><span class="iconify"
              style="color: #48b05d;" data-icon="ant-design:plus-circle-outlined"></span>
              <span class="text-decoration-underline">User</span></button>
        </div> -->
      </div>
      <div class="row">
        <div class="col-12">
          <div class="float-end pt-3 tooltip2">
            <a (click)="toggleDesign()"><img src="../.../../../../../assets/images/toggle-btn.png" alt=""></a>
            <span class="tooltip2text" *ngIf="!toggleContent">List View</span>
            <span class="tooltip2text" *ngIf="toggleContent">Grid View</span>
          </div>
        </div>
        <!-- list start -->
        <div class="col-12 list" *ngIf="toggleContent">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-responsive-md">
                  <thead>
                    <tr>
                      <th style="width:50px;"></th>
                      <th style="width: 200px;"><strong>UserName</strong></th>
                      <th style="width: 200px;padding: 0.5rem 0;"><strong>Email</strong></th>
                      <th style="width: 200px;padding: 0.5rem 0;"><strong>Phone no.</strong></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="spacer" *ngFor="let usr of users">
                      <td style="width: 50px;">
                        <input type="checkbox" id="checkbox-1-1" class="regular-checkbox" />
                      </td>
                      <td style="width: 200px;">{{usr.username}}</td>
                      <td style="width: 200px;">{{usr.EmailId}}</td>
                      <td style="width: 200px;">{{usr.MobileNumber}}</td>
                      <td>
                        <div class="d-flex">
                          <a class="btn btn-default" (click)="openModal(user, usr)"><span class="iconify"
                              data-icon="bx:bxs-edit-alt"></span></a>
                          <a class="btn btn-default" (click)="deleteUser(user)"><span class="iconify"
                              data-icon="ic:outline-cancel"></span></a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- list end -->
        <!-- grid start -->
        <div class="col-12 grid" *ngIf="!toggleContent">
          <div class="row">
            <div class="col-md-4" *ngFor="let user of users">
              <div class="card">
                <div class="col-12 d-flex justify-content-center align-items-center">
                  <img src="../../../assets/images/avatar.svg" class="card-img-top" alt="...">
                </div>
                <h2>{{user.username}}</h2>
                <div class="edit-icon"> <input type="checkbox" id="checkbox-1-1" class="regular-checkbox" />
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <h4>Phone no.</h4>
                      <p>{{user.MobileNumber}}</p>
                    </div>
                    <div class="col-md-6">
                      <h4>Email</h4>
                      <p>{{user.EmailId}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- grid end -->
      </div>
    </div>
    <!-- right sidebar start -->
    <div class="col-xl-4 sidebar">
      <!-- heading section -->
      <div class="d-flex title p-0">
        <div class="col-md-8 p-0">
          <h3 class="title asset-pad border-0"><span class="iconify" data-icon="akar-icons:arrow-left"></span> User</h3>
        </div>
        <div class="col-md-4 p-0">
          <button type="button" class="btn btn-default float-end sidebar-btn-right" (click)="openModal(user)"><span class="iconify"
              style="color: #48b05d;" data-icon="ant-design:plus-circle-outlined"></span>
            <span class="text-decoration-underline user-text">User</span></button>
        </div>
      </div>
      <!-- heading section end -->
      <div class="row">
        <div class="col-4 col-md-4">
          <ul>
            <li class="active cursor" routerLink="../user">
              <span class="d-flex justify-content-center align-items-center"><i class="iconify"
                  data-icon="fa:file-text"></i></span>
              <h5>Workspace</h5>
            </li>
            <li class="cursor" routerLink="../data-source">
              <span class="d-flex justify-content-center align-items-center"><i class="iconify top-icon"
                  data-icon="bx:bx-data"></i></span>
              <h5>Data Source</h5>
            </li>
            <li class="cursor" routerLink="../rule-engine">
              <span class="d-flex justify-content-center align-items-center"><i class="iconify"
                  data-icon="ic:sharp-rule"></i></span>
              <h5>Rule</h5>
            </li>
            <li class="cursor" routerLink="../">
              <span class="d-flex justify-content-center align-items-center"><i class="iconify"
                  data-icon="icon-park-outline:communication"></i></span>
              <h5>Communication</h5>
            </li>
            <li class="cursor" routerLink="">
              <span class="d-flex justify-content-center align-items-center"><i class="iconify"
                  data-icon="typcn:flow-merge"></i></span>
              <h5>Workflow</h5>
            </li>
            <li class="cursor" routerLink="">
              <span class="d-flex justify-content-center align-items-center"><i class="iconify"
                  data-icon="bx:bx-list-ol"></i></span>
              <h5>Task</h5>
            </li>
          </ul>
        </div>
        <div class="col-8 col-md-8 pt-4">
          <div class="row">
            <div class="col-6 col-md-6">
              <div class="icon-box active">
                <i class="d-flex justify-content-center align-items-center"><span class="iconify"
                    data-icon="bx:bxs-edit"></span></i>
                <h5>Edit from existing</h5>
              </div>
            </div>
            <div class="col-6 col-md-6">
              <div class="icon-box">
                <i class="d-flex justify-content-center align-items-center"><span class="iconify"
                    data-icon="ph:hand-palm"></span></i>
                <h5>Manually</h5>
              </div>
            </div>
            <div class="col-6 col-md-6">
              <div class="icon-box">
                <i class="d-flex justify-content-center align-items-center"><span class="iconify"
                    data-icon="ri:file-excel-2-line"></span></i>
                <h5>Excel</h5>
              </div>
            </div>
            <div class="col-6 col-md-6">
              <div class="icon-box">
                <i class="d-flex justify-content-center align-items-center"><span class="iconify"
                    data-icon="eos-icons:api-outlined"></span></i>
                <h5>Web service</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- right sidebar end -->
  </div>
  <div class="row">
    <div class="col-md-12 text-end pt-3 mb-4">
      <button class="btn btn-secondary me-2">Back</button>
      <button class="btn btn-primarycolor">Next</button>
    </div>
  </div>
</div>

<!-- modal start -->
<ng-template #user>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{userInContext ? 'Edit' : 'New'}} User</h4>
    <!-- <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button> -->
    <span class="close pull-right" aria-label="Close" (click)="modalRef?.hide()"><img
        src="../../../../assets/images/cross_black.svg" alt=""></span>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger mt-4" *ngIf="error">
      {{error}}
    </div>
    <div class="alert alert-success mt-4" *ngIf="success">
      {{success}}
    </div>
    <form [formGroup]="newUserForm">
      <div class="row">
        <div class="col-md-4 workspace">
          <div class="card">
            <img src="../../../../assets/images/image.png" class="card-img-top" alt="...">
            <div class="edit-icon2"><span class="iconify" data-icon="eva:edit-2-fill"></span></div>
          </div>
        </div>
        <div class="col-md-8 plan-form">
          <div class="col-12">
            <label>Name</label>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Name" formControlName="Name">
            </div>
          </div>
          <div class="col-12">
            <label>Last Name</label>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Last Name" formControlName="LastName">
            </div>
          </div>
          <div class="col-12">
            <label>Username</label>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Username" formControlName="UserId">
            </div>
          </div>
          <div class="col-12">
            <label>Email</label>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Email@example.com" formControlName="EmailId">
            </div>
          </div>
          <div class="col-12">
            <label>Password</label>
            <div class="form-group">
              <input class="form-control" type="password" placeholder="***********" formControlName="Password">
            </div>
          </div>
          <div class="col-12">
            <label>Confirm Password</label>
            <div class="form-group">
              <input class="form-control" type="password" placeholder="***********" formControlName="ConfrimPassword">
            </div>
          </div>
          <div class="col-12">
            <label>Phone no.</label>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="8989898989" formControlName="MobileNumber">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <!-- footer -->
    <div class="col-12 text-center plan-footer">
      <img src="../../../../assets/images/delete.svg" alt="">
      <img src="../../../../assets/images/edit.svg" alt="">
      <a (click)="addOrEditUser()"><img src="../../../../assets/images/tick.svg" alt=""></a>
    </div>
    <!-- footer end -->
  </div>
</ng-template>
<!-- modal end -->